name: Sync to Google Drive (Unzipped)
on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Upload Files Individually
        uses: adityak74/google-drive-upload-git-action@main
        with:
          credentials: ${{ secrets.GDRIVE_CREDENTIALS }}
          folderId: '1OsDtwOjtFaxsMIYgAXzCKSy2RZ9pCofd'
          # Providing a path to the folder instead of a zip file
          uploadSource: '.' 
          overwrite: "true"
