name: Sync Zip to Google Drive
on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Create Zip Archive
        # This zips everything but skips the heavy 'junk' folders
        run: zip -r codebase_backup.zip . -x "*.git*" "node_modules/*" ".next/*"

      - name: Upload Zip to Drive
        uses: adityak74/google-drive-upload-git-action@main
        with:
          credentials: ${{ secrets.GDRIVE_CREDENTIALS }}
          folderId: '1OsDtwOjtFaxsMIYgAXzCKSy2RZ9pCofd'
          filename: codebase_backup.zip
          overwrite: "true"
