name: Sync Folder to Google Drive
on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Sync to Drive
        uses: wei/rclone@v1
        env:
          RCLONE_CONFIG_GDRIVE_TYPE: google cloud storage
          RCLONE_CONFIG_GDRIVE_SERVICE_ACCOUNT_FILE__CONTENT: ${{ secrets.GDRIVE_CREDENTIALS }}
          RCLONE_CONFIG_GDRIVE_TEAM_DRIVE: ''
        with:
          args: sync . gdrive:${{ secrets.FOLDER_ID }} --exclude ".git/**" --exclude "node_modules/**" --exclude ".next/**"
