name: Sync to Google Drive (Unzipped)
on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Upload Files Individually
        uses: Jishu-dev/google-drive-upload-git-action@main
        with:
          credentials: ${{ secrets.GDRIVE_CREDENTIALS }}
          folderId: '1OsDtwOjtFaxsMIYgAXzCKSy2RZ9pCofd'
          # This will upload the current directory contents
          uploadSource: '.' 
          # Setting overwrite to true ensures your context stays current
          overwrite: "true"
