- name: Upload to Drive
  uses: mathisve/gdrive-upload-action@v1
  with:
    credentials: ${{ secrets.GDRIVE_CREDENTIALS }}
    encoded: false
    filename: './**'
    folderId: ${{ secrets.FOLDER_ID }}
    overwrite: true
