name: Sync to Google Drive
on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Archive for NotebookLM
        run: zip -r codebase.zip . -x "*.git*" "node_modules/*" ".next/*"

      - name: Upload to Drive
        uses: adityak74/google-drive-upload-git-action@main
        with:
          credentials: ${{ secrets.GDRIVE_CREDENTIALS }}
          folderId: '1OsDtwOjtFaxsMIYgAXzCKSy2RZ9pCofd'
          filename: codebase.zip
          overwrite: "true"
